table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
input[type="text"],
button {
  margin-top: 5px;
}
.employee-details label {
  display: block;
  margin-top: 10px;
}
.employee-details input[type="text"] {
  width: 100%;
  padding: 5px;
}
.hike-percentage-container {
  display: none;
  margin-left: 10px;
}
.hike-field {
    display: flex;
    align-items: center;
}
